{% extends 'default/index.html.twig' %}

{% block content %}
    <form method="get" action="{{ path('myProfile') }}" class="userInfoForm">
        <label>Username</label>
        <input type="text" value="{{ app.user.username }}" required />
        <label>Email</label>
        <input type="email" value="{{ app.user.email }}" required />
        <label>Address</label>
        <input type="text" value="..." />
        <label>Birthday</label>
        <input type="date" />
    </form>
{% endblock %}