{% extends 'default/index.html.twig' %}

{% block content %}
    {% for task in tasks %}
        <div class="taskIndex">
            <div class="titleTask">{{ task.title }}</div>
            <div class="description">
                {{ task.description }}
            </div>
        </div>
    {% endfor %}
{% endblock %}