{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('Css/syle.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            test
        </div>
    </div>
{% endblock %}